html, body {
  height: 100%; box-sizing: border-box; margin: 0;
}
textarea {
  height: calc(100% - 2rem); box-sizing: border-box;
  border: none; outline: none; resize: none;
  font-family: monospace;
}
#textbox {
  background-color: transparent;
  width: 100%;
  padding: 0.5em;
  padding-right: calc(100% - 80ch - 0.5em - 17px);
  overflow-y: scroll;
}
#linewidth-guide {
  border-right: 1px solid PaleTurquoise;
  width: calc(80ch + 1px);
  margin-left: 0.5em;
  position: absolute;
  z-index: -1;
}
nav {
  position: fixed; bottom: 0; left: 0;
  box-sizing: border-box; width: 100%; height: 2rem; padding: 0 0.5em;
  background-color: #eee; border-top: 1px solid silver;
  line-height: 2rem; color: gray; font-family: sans-serif; font-size: 85%;
}
#controls {
  float: right;
}
#save a {
  text-decoration: none;
}
#open > input {
  display: none;
}
#about > form {
  text-align: right;
}
#about-icon {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
@media print { nav { display: none; } }
